src/main/resources/wsdl/remove/NotifyMe-RemoveProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1363163131914/RemoveProductImpl/Services/SecureAdapters/NotifyMe/Remove/Interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/MEF/SharedResources/Schemas/SecureAdapters/NotifyMe/Schema.xsd2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1363163131914/RemoveProductImpl/Services/SecureAdapters/NotifyMe/Remove/Interface">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MEF/SharedResources/Schemas/SecureAdapters/NotifyMe/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MEF/SharedResources/Schemas/SecureAdapters/NotifyMe/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Attribute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Name" minOccurs="0"/>
                        <xs:element ref="ns0:Value" minOccurs="0"/>
                        <xs:element ref="ns0:Type" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfAttributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Attribute" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MSISDN" type="xs:string"/>
            <xs:element name="Message" type="xs:string"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Password" type="xs:string"/>
            <xs:element name="RemoveProductIn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Username" minOccurs="0"/>
                        <xs:element ref="ns0:Password" minOccurs="0"/>
                        <xs:element ref="ns0:MSISDN" minOccurs="0"/>
                        <xs:element ref="ns0:TransactionID" minOccurs="0"/>
                        <xs:element ref="ns0:ListOfAttributes" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveProductOut">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Status" minOccurs="0"/>
                        <xs:element ref="ns0:Message" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Status" type="xs:string"/>
            <xs:element name="TransactionID" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
            <xs:element name="Username" type="xs:string"/>
            <xs:element name="Value" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="NotifyMe-RemoveProduct-SOAP">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="https://10.50.171.8:443/NotifyStatusLive/Services/SecureAdapters/NotifyMe/Remove/Interface/NotifyMe-RemoveProduct-SOAP"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="RemoveProduct">
        <wsdl:operation name="RemoveProduct">
            <wsdl:input message="tns:RemoveProductIn"/>
            <wsdl:output message="tns:RemoveProductOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:RemoveProduct">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RemoveProduct">
            <soap:operation style="document" soapAction="/Services/SecureAdapters/NotifyMe/Remove/Interface/NotifyMe-RemoveProduct-SOAP"/>
            <wsdl:input>
                <soap:body use="literal" parts="RemoveProductIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="RemoveProductOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="RemoveProductIn">
        <wsdl:part name="RemoveProductIn" element="ns0:RemoveProductIn"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductOut">
        <wsdl:part name="RemoveProductOut" element="ns0:RemoveProductOut"/>
    </wsdl:message>
</wsdl:definitions>